---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# The Series Data Structure

In [1]:
import pandas as pd
#pd.Series?

In [2]:
%%timeit -n 3
    print ("a")

a
a
a
a
a
a
a
a
a
3 loops, best of 3: 71.2 µs per loop

In [3]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [4]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [5]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [6]:
import numpy as np

np.nan == np.nan

False

In [7]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
print ("sports",s)
print ("s",s)
print (sports==s)

sports Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object
s Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object
Archery      False
Golf         False
Sumo         False
Taekwondo    False
dtype: bool

In [8]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [9]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [10]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
s

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

# Querying a Series

In [11]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [12]:
s.iloc[3]

'South Korea'

In [13]:
s.loc['Golf']

'Scotland'

In [14]:
s['Golf']

'Scotland'

In [15]:
sports['Golf']

'Scotland'

In [16]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)

In [17]:
s[0] #This won't call s.iloc[0] as one might expect, it generates an error instead

KeyError: 0

In [ ]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

In [ ]:
total = 0
for item in s:
    total+=item
print(total)

In [ ]:
import numpy as np

total = np.sum(s)
print(total)

In [ ]:
#this creates a big series of random numbers
s = pd.Series(np.random.randint(0,20,10))
s.head()

In [ ]:
len(s)

In [ ]:
%%timeit -n 3
    print ("a")

In [ ]:
%%timeit -n 100
summary = np.sum(s)

In [ ]:
s+=2 #adds two to each item in s using broadcasting
s.head()

In [ ]:
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()

In [ ]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
    s.loc[label]= value+2

In [ ]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

In [ ]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

In [ ]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [ ]:
original_sports

In [ ]:
cricket_loving_countries

In [ ]:
all_countries

In [ ]:
all_countries.loc['Cricket']

# The DataFrame Data Structure

In [ ]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df

In [ ]:
df.loc['Store 2']

In [ ]:
type(df.loc['Store 2'])

In [ ]:
df.loc['Store 1']

In [ ]:
df.loc['Store 1', 'Cost']

In [ ]:
df.T

In [ ]:
df.T.loc['Cost']

In [ ]:
df['Cost']

In [ ]:
df.loc['Store 1']['Cost']

In [ ]:
df.loc[:,['Name', 'Cost']]

In [ ]:
df.drop('Store 1')

In [ ]:
df

In [ ]:
copy_df = df.copy()
copy_df = copy_df.drop('Store 1')
copy_df

In [ ]:
copy_df.drop?

In [ ]:
del copy_df['Name']
copy_df

In [ ]:
df['Location'] = None
df

# Dataframe Indexing and Loading

In [ ]:
import pandas as pd

In [ ]:
costs+=2
costs

In [ ]:
x = !cp "readonly/olympics.csv" "olympics.csv"

In [ ]:
!cat olympics.csv

In [ ]:
df = pd.read_csv('olympics.csv')
df.head()

In [ ]:
df = pd.read_csv('olympics.csv', index_col = 0, skiprows=1)
df.head()

In [ ]:
df.columns

In [ ]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    print (col)

# Querying a DataFrame

In [ ]:

df['Gold'] > 0

In [ ]:
only_gold = df.where(df['Gold'] > 0)
only_gold.dropna()
only_gold.dropna(axis=1)

In [ ]:
only_gold['Gold'].count()

In [ ]:
df['Gold'].count()

In [ ]:
only_gold = only_gold.dropna()
only_gold.head()

In [ ]:
only_gold = df[df['Gold'] > 0]
only_gold.head()

In [ ]:
len(df[(df['Gold'] > 0) | (df['Gold.1'] > 0)])

In [ ]:
df[(df['Gold.1'] > 0) & (df['Gold'] == 0)]

# Indexing Dataframes

In [ ]:
df.head()

In [ ]:
df['country'] = df.index
df = df.set_index('Gold')
df.head()

In [ ]:
df = df.reset_index()
df.head()

In [19]:
import pandas as pd 
df = pd.read_csv('census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [20]:
df['SUMLEV'].unique()

array([40, 50])

In [21]:
df=df[df['SUMLEV'] == 50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [22]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

,STNAME,CTYNAME,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,517,2187,2092,2160,2186,2240,183193,186659,190396,195126,199713,203709
3,Alabama,Barbour County,70,335,300,283,260,269,27341,27226,27159,26973,26815,26489
4,Alabama,Bibb County,44,266,245,259,247,253,22861,22733,22642,22512,22549,22583
5,Alabama,Blount County,183,744,710,646,618,603,57373,57711,57776,57734,57658,57673

In [23]:
df = df.set_index(['STNAME', 'CTYNAME'])
df

                              BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME    CTYNAME
Alabama   Autauga County             151         636         615         574
          Baldwin County             517        2187        2092        2160
          Barbour County              70         335         300         283
          Bibb County                 44         266         245         259
          Blount County              183         744         710         646
          Bullock County              39         169         122         132
          Butler County               65         276         241         240
          Calhoun County             317        1382        1357        1309
          Chambers County             81         401         393         404
          Cherokee County             55         221         245         232
          Chilton County             124         565         565         537
          Choctaw County              29         114         110         138
          Clarke County               49         259         292         269
          Clay County                 27         153         147         121
          Cleburne County             41         184         183         177
          Coffee County              168         677         622         617
          Colbert County             162         605         623         589
          Conecuh County              34         158         144         152
          Coosa County                21          95         107          86
          Covington County           102         463         412         476
          Crenshaw County             37         166         149         145
          Cullman County             249         996         926         952
          Dale County                173         692         705         646
          Dallas County              130         583         585         511
          DeKalb County              232         903         869         796
          Elmore County              235         967         960         986
          Escambia County            121         486         444         440
          Etowah County              260        1252        1155        1145
          Fayette County              42         186         164         186
          Franklin County            120         419         406         432
...                                  ...         ...         ...         ...
Wisconsin Washburn County             36         161         155         152
          Washington County          350        1348        1320        1296
          Waukesha County            960        3805        3802        3757
          Waupaca County             131         492         537         518
          Waushara County             66         221         236         229
          Winnebago County           503        1879        1925        1899
          Wood County                249         895         825         859
Wyoming   Albany County              104         413         443         410
          Big Horn County             24         150         132         136
          Campbell County            208         722         766         732
          Carbon County               46         200         188         199
          Converse County             57         165         194         177
          Crook County                35          82         101          87
          Fremont County             163         615         612         571
          Goshen County               31         118         134         145
          Hot Springs County          15          55          55          48
          Johnson County              29         102          90         101
          Laramie County             358        1291        1221        1250
          Lincoln County              86         241         247         230
          Natrona County             258        1029        1043        1141
          Niobrara County              6          18          18          27
          Park County                 73         299         327         301
          Platte County               13          82          93          94
          Sheridan County             87         343         332         306
          Sublette County             34         134         138         132
          Sweetwater County          167         640         595         657
          Teton County                76         259         230         261
          Uinta County                73         324         311         316
          Washakie County             26         108          90          95
          Weston County               26          81          74          93

                              BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME    CTYNAME
Alabama   Autauga County             623         600            54660
          Baldwin County            2186        2240           183193
          Barbour County             260         269            27341
          Bibb County                247         253            22861
          Blount County              618         603            57373
          Bullock County             118         123            10887
          Butler County              267         257            20944
          Calhoun County            1355        1335           118437
          Chambers County            421         429            34098
          Cherokee County            261         250            25976
          Chilton County             586         561            43665
          Choctaw County             119         127            13841
          Clarke County              249         247            25767
          Clay County                164         149            13880
          Cleburne County            186         185            14973
          Coffee County              614         616            50177
          Colbert County             587         573            54514
          Conecuh County             140         146            13208
          Coosa County                96          91            11758
          Covington County           441         449            37796
          Crenshaw County            131         138            13853
          Cullman County             977         960            80473
          Dale County                667         653            50358
          Dallas County              584         572            43803
          DeKalb County              839         833            71142
          Elmore County              934         948            79465
          Escambia County            429         438            38309
          Etowah County             1182        1168           104442
          Fayette County             198         186            17231
          Franklin County            429         434            31734
...                                  ...         ...              ...
Wisconsin Washburn County            154         152            15930
          Washington County         1363        1336           131967
          Waukesha County           3813        3791           390076
          Waupaca County             535         524            52422
          Waushara County            222         230            24506
          Winnebago County          1815        1847           167059
          Wood County                761         792            74807
Wyoming   Albany County              414         428            36428
          Big Horn County            153         144            11672
          Campbell County            775         737            46244
          Carbon County              215         224            15837
          Converse County            206         206            13826
          Crook County               106         105             7114
          Fremont County             605         583            40222
          Goshen County              157         154            13408
          Hot Springs County          48          49             4813
          Johnson County              83          92             8581
          Laramie County            1273        1263            92271
          Lincoln County             240         248            18091
          Natrona County            1202        1194            75472
          Niobrara County             27          25             2492
          Park County                323         313            28259
          Platte County               81          90             8678
          Sheridan County            361         338            29146
          Sublette County            122         128            10244
          Sweetwater County          629         620            43593
          Teton County               249         269            21297
          Uinta County               316         316            21102
          Washakie County             96          90             8545
          Weston County               77          79             7181

                              POPESTIMATE2011  POPESTIMATE2012  \
STNAME    CTYNAME
Alabama   Autauga County                55253            55175
          Baldwin County               186659           190396
          Barbour County                27226            27159
          Bibb County                   22733            22642
          Blount County                 57711            57776
          Bullock County                10629            10606
          Butler County                 20673            20408
          Calhoun County               117768           117286
          Chambers County               33993            34075
          Cherokee County               26080            26023
          Chilton County                43739            43697
          Choctaw County                13593            13543
          Clarke County                 25570            25144
          Clay County                   13670            13456
          Cleburne County               14971            14921
          Coffee County                 50448            51173
          Colbert County                54443            54472
          Conecuh County                13121            12996
          Coosa County                  11348            11195
          Covington County              38060            37818
          Crenshaw County               13896            13951
          Cullman County                80469            80374
          Dale County                   50109            50324
          Dallas County                 43178            42777
          DeKalb County                 71387            70942
          Elmore County                 80012            80432
          Escambia County               38213            38034
          Etowah County                104236           104235
          Fayette County                17062            16960
          Franklin County               31729            31648
...                                       ...              ...
Wisconsin Washburn County               15784            15831
          Washington County            132225           132649
          Waukesha County              390808           392710
          Waupaca County                52342            52035
          Waushara County               24581            24484
          Winnebago County             167630           168717
          Wood County                   74647            74384
Wyoming   Albany County                 36908            37396
          Big Horn County               11745            11785
          Campbell County               46600            47881
          Carbon County                 15817            15678
          Converse County               13728            14025
          Crook County                   7129             7148
          Fremont County                40591            41129
          Goshen County                 13597            13666
          Hot Springs County             4818             4846
          Johnson County                 8636             8610
          Laramie County                92663            94894
          Lincoln County                18022            17943
          Natrona County                76420            78699
          Niobrara County                2485             2475
          Park County                   28473            28863
          Platte County                  8701             8732
          Sheridan County               29275            29594
          Sublette County               10142            10418
          Sweetwater County             44041            45104
          Teton County                  21482            21697
          Uinta County                  20912            20989
          Washakie County                8469             8443
          Weston County                  7114             7065

                              POPESTIMATE2013  POPESTIMATE2014  \
STNAME    CTYNAME
Alabama   Autauga County                55038            55290
          Baldwin County               195126           199713
          Barbour County                26973            26815
          Bibb County                   22512            22549
          Blount County                 57734            57658
          Bullock County                10628            10829
          Butler County                 20261            20276
          Calhoun County               116575           115993
          Chambers County               34153            34052
          Cherokee County               26084            25995
          Chilton County                43795            43921
          Choctaw County                13378            13289
          Clarke County                 25116            24847
          Clay County                   13467            13538
          Cleburne County               15028            15072
          Coffee County                 50755            50831
          Colbert County                54471            54480
          Conecuh County                12875            12662
          Coosa County                  11059            10807
          Covington County              37830            37888
          Crenshaw County               13932            13948
          Cullman County                80756            81221
          Dale County                   49833            49501
          Dallas County                 42021            41662
          DeKalb County                 70869            71012
          Elmore County                 80883            81022
          Escambia County               37857            37784
          Etowah County                103852           103452
          Fayette County                16857            16842
          Franklin County               31507            31592
...                                       ...              ...
Wisconsin Washburn County               15657            15678
          Washington County            132758           133301
          Waukesha County              394025           395335
          Waupaca County                52213            52088
          Waushara County               24332            24173
          Winnebago County             169486           169639
          Wood County                   73996            73597
Wyoming   Albany County                 37647            37918
          Big Horn County               12002            11919
          Campbell County               48121            48243
          Carbon County                 15787            15856
          Converse County               14343            14172
          Crook County                   7160             7264
          Fremont County                41024            40717
          Goshen County                 13565            13509
          Hot Springs County             4846             4793
          Johnson County                 8619             8552
          Laramie County                96006            96469
          Lincoln County                18328            18564
          Natrona County                81156            81603
          Niobrara County                2548             2530
          Park County                   29237            29126
          Platte County                  8728             8776
          Sheridan County               29794            30020
          Sublette County               10086            10039
          Sweetwater County             45162            44925
          Teton County                  22347            22905
          Uinta County                  21022            20903
          Washakie County                8443             8316
          Weston County                  7160             7185

                              POPESTIMATE2015
STNAME    CTYNAME
Alabama   Autauga County                55347
          Baldwin County               203709
          Barbour County                26489
          Bibb County                   22583
          Blount County                 57673
          Bullock County                10696
          Butler County                 20154
          Calhoun County               115620
          Chambers County               34123
          Cherokee County               25859
          Chilton County                43943
          Choctaw County                13170
          Clarke County                 24675
          Clay County                   13555
          Cleburne County               15018
          Coffee County                 51211
          Colbert County                54354
          Conecuh County                12672
          Coosa County                  10724
          Covington County              37835
          Crenshaw County               13963
          Cullman County                82005
          Dale County                   49565
          Dallas County                 41131
          DeKalb County                 71130
          Elmore County                 81468
          Escambia County               37789
          Etowah County                103057
          Fayette County                16759
          Franklin County               31696
...                                       ...
Wisconsin Washburn County               15552
          Washington County            133674
          Waukesha County              396488
          Waupaca County                51945
          Waushara County               24033
          Winnebago County             169546
          Wood County                   73435
Wyoming   Albany County                 37956
          Big Horn County               12022
          Campbell County               49220
          Carbon County                 15559
          Converse County               14236
          Crook County                   7444
          Fremont County                40315
          Goshen County                 13383
          Hot Springs County             4741
          Johnson County                 8585
          Laramie County                97121
          Lincoln County                18722
          Natrona County                82178
          Niobrara County                2542
          Park County                   29228
          Platte County                  8812
          Sheridan County               30009
          Sublette County                9899
          Sweetwater County             44626
          Teton County                  23125
          Uinta County                  20822
          Washakie County                8328
          Weston County                  7234

[3142 rows x 12 columns]

In [29]:
df.loc['Michigan', 'Washtenaw County']

BIRTHS2010            977
BIRTHS2011           3826
BIRTHS2012           3780
BIRTHS2013           3662
BIRTHS2014           3683
BIRTHS2015           3709
POPESTIMATE2010    345563
POPESTIMATE2011    349048
POPESTIMATE2012    351213
POPESTIMATE2013    354289
POPESTIMATE2014    357029
POPESTIMATE2015    358880
Name: (Michigan, Washtenaw County), dtype: int64

In [32]:
df.loc['Alabama', 'Coosa County']

KeyError: ('Coosa County', 'Colbert County')

In [27]:
df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

                           BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME   CTYNAME
Michigan Washtenaw County         977        3826        3780        3662
         Wayne County            5918       23819       23270       23377

                           BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME   CTYNAME
Michigan Washtenaw County        3683        3709           345563
         Wayne County           23607       23586          1815199

                           POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME   CTYNAME
Michigan Washtenaw County           349048           351213           354289
         Wayne County              1801273          1792514          1775713

                           POPESTIMATE2014  POPESTIMATE2015
STNAME   CTYNAME
Michigan Washtenaw County           357029           358880
         Wayne County              1766008          1759335

# Missing values

In [2]:
import pandas as pd
df = pd.read_csv('log.csv')
df

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974454  cheryl     intro.html                  6    NaN     NaN
2   1469974544  cheryl     intro.html                  9    NaN     NaN
3   1469974574  cheryl     intro.html                 10    NaN     NaN
4   1469977514     bob     intro.html                  1    NaN     NaN
5   1469977544     bob     intro.html                  1    NaN     NaN
6   1469977574     bob     intro.html                  1    NaN     NaN
7   1469977604     bob     intro.html                  1    NaN     NaN
8   1469974604  cheryl     intro.html                 11    NaN     NaN
9   1469974694  cheryl     intro.html                 14    NaN     NaN
10  1469974724  cheryl     intro.html                 15    NaN     NaN
11  1469974454     sue  advanced.html                 24    NaN     NaN
12  1469974524     sue  advanced.html                 25    NaN     NaN
13  1469974424     sue  advanced.html                 23  False    10.0
14  1469974554     sue  advanced.html                 26    NaN     NaN
15  1469974624     sue  advanced.html                 27    NaN     NaN
16  1469974654     sue  advanced.html                 28    NaN     5.0
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974484  cheryl     intro.html                  7    NaN     NaN
19  1469974514  cheryl     intro.html                  8    NaN     NaN
20  1469974754     sue  advanced.html                 30    NaN     NaN
21  1469974824     sue  advanced.html                 31    NaN     NaN
22  1469974854     sue  advanced.html                 32    NaN     NaN
23  1469974924     sue  advanced.html                 33    NaN     NaN
24  1469977424     bob     intro.html                  1   True    10.0
25  1469977454     bob     intro.html                  1    NaN     NaN
26  1469977484     bob     intro.html                  1    NaN     NaN
27  1469977634     bob     intro.html                  1    NaN     NaN
28  1469977664     bob     intro.html                  1    NaN     NaN
29  1469974634  cheryl     intro.html                 12    NaN     NaN
30  1469974664  cheryl     intro.html                 13    NaN     NaN
31  1469977694     bob     intro.html                  1    NaN     NaN
32  1469977724     bob     intro.html                  1    NaN     NaN

In [3]:
df.fillna?

In [4]:
df = df.set_index('time')
df = df.sort_index()
df

              user          video  playback position paused  volume
time
1469974424  cheryl     intro.html                  5  False    10.0
1469974424     sue  advanced.html                 23  False    10.0
1469974454  cheryl     intro.html                  6    NaN     NaN
1469974454     sue  advanced.html                 24    NaN     NaN
1469974484  cheryl     intro.html                  7    NaN     NaN
1469974514  cheryl     intro.html                  8    NaN     NaN
1469974524     sue  advanced.html                 25    NaN     NaN
1469974544  cheryl     intro.html                  9    NaN     NaN
1469974554     sue  advanced.html                 26    NaN     NaN
1469974574  cheryl     intro.html                 10    NaN     NaN
1469974604  cheryl     intro.html                 11    NaN     NaN
1469974624     sue  advanced.html                 27    NaN     NaN
1469974634  cheryl     intro.html                 12    NaN     NaN
1469974654     sue  advanced.html                 28    NaN     5.0
1469974664  cheryl     intro.html                 13    NaN     NaN
1469974694  cheryl     intro.html                 14    NaN     NaN
1469974724  cheryl     intro.html                 15    NaN     NaN
1469974724     sue  advanced.html                 29    NaN     NaN
1469974754     sue  advanced.html                 30    NaN     NaN
1469974824     sue  advanced.html                 31    NaN     NaN
1469974854     sue  advanced.html                 32    NaN     NaN
1469974924     sue  advanced.html                 33    NaN     NaN
1469977424     bob     intro.html                  1   True    10.0
1469977454     bob     intro.html                  1    NaN     NaN
1469977484     bob     intro.html                  1    NaN     NaN
1469977514     bob     intro.html                  1    NaN     NaN
1469977544     bob     intro.html                  1    NaN     NaN
1469977574     bob     intro.html                  1    NaN     NaN
1469977604     bob     intro.html                  1    NaN     NaN
1469977634     bob     intro.html                  1    NaN     NaN
1469977664     bob     intro.html                  1    NaN     NaN
1469977694     bob     intro.html                  1    NaN     NaN
1469977724     bob     intro.html                  1    NaN     NaN

In [7]:
df = df.reset_index()
df = df.set_index(['time', 'user'])
df

                           video  playback position paused  volume
time       user
1469974424 cheryl     intro.html                  5  False    10.0
           sue     advanced.html                 23  False    10.0
1469974454 cheryl     intro.html                  6    NaN     NaN
           sue     advanced.html                 24    NaN     NaN
1469974484 cheryl     intro.html                  7    NaN     NaN
1469974514 cheryl     intro.html                  8    NaN     NaN
1469974524 sue     advanced.html                 25    NaN     NaN
1469974544 cheryl     intro.html                  9    NaN     NaN
1469974554 sue     advanced.html                 26    NaN     NaN
1469974574 cheryl     intro.html                 10    NaN     NaN
1469974604 cheryl     intro.html                 11    NaN     NaN
1469974624 sue     advanced.html                 27    NaN     NaN
1469974634 cheryl     intro.html                 12    NaN     NaN
1469974654 sue     advanced.html                 28    NaN     5.0
1469974664 cheryl     intro.html                 13    NaN     NaN
1469974694 cheryl     intro.html                 14    NaN     NaN
1469974724 cheryl     intro.html                 15    NaN     NaN
           sue     advanced.html                 29    NaN     NaN
1469974754 sue     advanced.html                 30    NaN     NaN
1469974824 sue     advanced.html                 31    NaN     NaN
1469974854 sue     advanced.html                 32    NaN     NaN
1469974924 sue     advanced.html                 33    NaN     NaN
1469977424 bob        intro.html                  1   True    10.0
1469977454 bob        intro.html                  1    NaN     NaN
1469977484 bob        intro.html                  1    NaN     NaN
1469977514 bob        intro.html                  1    NaN     NaN
1469977544 bob        intro.html                  1    NaN     NaN
1469977574 bob        intro.html                  1    NaN     NaN
1469977604 bob        intro.html                  1    NaN     NaN
1469977634 bob        intro.html                  1    NaN     NaN
1469977664 bob        intro.html                  1    NaN     NaN
1469977694 bob        intro.html                  1    NaN     NaN
1469977724 bob        intro.html                  1    NaN     NaN

In [11]:
df = df.fillna(method='jj')
df.head()

ValueError: Invalid fill method. Expecting pad (ffill) or backfill (bfill). Got jj